ABlooper==1.1.2
absl-py==1.4.0
adjustText==0.8
aiofiles==22.1.0
aiohttp==3.8.4
aiohttp-retry==2.8.3
aiosignal==1.3.1
altair==4.2.0
analytics-python==1.4.0
git+https://github.com/oxpig/ANARCI.git
ansi2html==1.6.0
antiberty==0.1.0
antlr4-python3-runtime==4.12.0
anyio==3.6.1
appdirs==1.4.4
argon2-cffi==20.1.0
arviz==0.12.1
asgiref==3.6.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==21.2.0
autograd==1.6.2
autograd-gamma==0.5.0
autoviz==0.1.732
Babel==2.9.1
backcall==0.2.0
backoff==1.10.0
backports.zoneinfo==0.2.1
base58==2.0.1
beautifulsoup4==4.11.2
bel-resources==0.0.3
bioinfokit==2.1.0
biopython==1.78
bioregistry==0.10.192
bioservices==1.11.2
biotite==0.39.0
bleach==3.3.0
blinker==1.4
bokeh==2.4.3
boto3==1.20.40
botocore==1.23.40
Brotli==1.0.9
cachetools==5.0.0
cattrs==22.2.0
certifi==2023.11.17
cffi==1.14.5
cftime==1.6.2
chardet==4.0.0
charset-normalizer==3.0.1
chart-studio==1.1.0
chemparse==0.1.3
chord==6.0.1
ci-info==0.2.0
click==8.0.3
click-plugins==1.1.1
cloudpickle==2.0.0
cmprsk==1.1.1
colorama==0.4.4
colorcet==3.0.1
colorlog==6.7.0
colour==0.1.5
colourmap==1.1.14
comm==0.1.2
commonmark==0.9.1
comtypes==1.4.5
configobj==5.0.6
configparser==5.2.0
contourpy==1.0.7
coverage==7.6.0
cssselect2==0.7.0
curies==0.7.9
cycler==0.10.0
d3blocks==1.2.13
d3graph==2.4.6
dash==2.0.0
dash-auth==1.4.1
dash-bootstrap-components==0.13.1
dash-colorscales==0.0.4
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclasses-json==0.5.7
dataoutsider==1.2.2
debugpy==1.6.6
decorator==5.0.9
defusedxml==0.7.1
deprecat==2.1.1
deprecation==2.1.0
dill==0.3.6
Django==4.1.7
docker==6.1.1
docopt==0.6.2
dtale==3.8.1
dtreeviz==1.3.2
easydev==0.12.1
ecos==2.0.12
einops==0.6.0
elasticgraph==0.2.0
emoji==2.8.0
entrypoints==0.4
enum-compat==0.0.3
et-xmlfile==1.1.0
etelemetry==0.3.0
exceptiongroup==1.1.1
explainerdashboard==0.3.7
Faker==21.0.0
fasta_reader==1.0.3
fastjsonschema==2.17.1
fastprogress==1.0.3
favicon==0.7.0
feedparser==6.0.11
filelock==3.6.0
fitz==0.0.1.dev2
Flask==2.0.2
Flask-Compress==1.10.1
flask-ngrok==0.0.25
Flask-SeaSurf==0.3.1
flask-simplelogin==0.1.1
Flask-WTF==0.15.1
flatbuffers==23.5.26
fonttools==4.42.1
forestplot==0.3.2
formulaic==0.6.6
freetype-py==2.3.0
frontend==0.0.3
frozenlist==1.3.3
fsspec>=3.7,<3.11
future>=3.7,<3.11
gast>=3.7,<3.11
gevent>=3.7,<3.11
gff-io>=3.7,<3.11
gitdb>=3.7,<3.11
GitPython>=3.7,<3.11
google-auth>=3.7,<3.11
google-auth-oauthlib>=3.7,<3.11
google-pasta>=3.7,<3.11
googlesearch-python>=3.7,<3.11
gptcache>=3.7,<3.11
graphlib-backport>=3.7,<3.11
graphviz>=3.7,<3.11
greenlet>=3.7,<3.11
grequests>=3.7,<3.11
grpcio>=3.7,<3.11
gTTS>=3.7,<3.11
h11>=3.7,<3.11
h5py>=3.7,<3.11
hmmer>=3.7,<3.11
holoviews>=3.7,<3.11
htbuilder>=3.7,<3.11
httplib2>=3.7,<3.11
huggingface-hub>=3.7,<3.11
humanize>=3.7,<3.11
hvplot>=3.7,<3.11
idna>=3.7,<3.11
igfold>=3.7,<3.11
image>=3.7,<3.11
imageio>=3.7,<3.11
imbalanced-learn>=3.7,<3.11
importlib-metadata>=3.7,<3.11
importlib-resources>=3.7,<3.11
install>=3.7,<3.11
interface-meta>=3.7,<3.11
ipykernel>=3.7,<3.11
ipyspeck>=3.7,<3.11
ipython>=3.7,<3.11
ipython-genutils>=3.7,<3.11
ipywidgets==7.6.3
isal>=3.7,<3.11
ismember>=3.7,<3.11
isodate>=3.7,<3.11
itsdangerous>=3.7,<3.11
jax>=3.7,<3.11
jedi>=3.7,<3.11
Jinja2>=3.7,<3.11
jmespath>=3.7,<3.11
joblib>=3.7,<3.11
json5>=3.7,<3.11
jsonschema>=3.7,<3.11
jtools>=3.7,<3.11
jupyter>=3.7,<3.11
jupyter-console>=3.7,<3.11
jupyter-dash>=3.7,<3.11
jupyter-server>=3.7,<3.11
jupyter_client>=3.7,<3.11
jupyter_core>=3.7,<3.11
jupyter_packaging>=3.7,<3.11
jupyterlab>=3.7,<3.11
jupyterlab-pygments>=3.7,<3.11
jupyterlab-server>=3.7,<3.11
jupyterlab-widgets>=3.7,<3.11
jupytext>=3.7,<3.11
kaleido>=3.7,<3.11
keras>=3.7,<3.11
kiwisolver>=3.7,<3.11
langchain>=3.7,<3.11
lazy_loader>=3.7,<3.11
lazypredict>=3.7,<3.11
libclang>=3.7,<3.11
lifelines>=3.7,<3.11
lightgbm>=3.7,<3.11
lightning-utilities>=3.7,<3.11
llvmlite>=3.7,<3.11
locket>=3.7,<3.11
lxml>=3.7,<3.11
Markdown>=3.7,<3.11
MarkupSafe>=3.7,<3.11
matplotlib>=3.7,<3.11
mccabe>=3.7,<3.11
missingno>=3.7,<3.11
ml-dtypes>=3.7,<3.11
mmh3>=3.7,<3.11
mpmath>=3.7,<3.11
msgpack>=3.7,<3.11
murmurhash>=3.7,<3.11
mypy>=3.7,<3.11
mypy-extensions>=3.7,<3.11
myst-nb>=3.7,<3.11
myst-parser>=3.7,<3.11
nbclient>=3.7,<3.11
nbconvert>=3.7,<3.11
nbdime>=3.7,<3.11
nbformat>=3.7,<3.11
nest-asyncio>=3.7,<3.11
networkx>=3.7,<3.11
nltk>=3.7,<3.11
notebook>=3.7,<3.11
notebook_shim>=3.7,<3.11
numba>=3.7,<3.11
numpy>=3.7,<3.11
nvidia-cublas>=3.7,<3.11
nvidia-cuda-cupti>=3.7,<3.11
nvidia-cuda-nvrtc>=3.7,<3.11
nvidia-cuda-runtime>=3.7,<3.11
nvidia-cudnn>=3.7,<3.11
nvidia-curand>=3.7,<3.11
nvidia-cusolver>=3.7,<3.11
nvidia-cusparse>=3.7,<3.11
nvidia-nccl>=3.7,<3.11
nvidia-nvtx>=3.7,<3.11
oauthlib>=3.7,<3.11
openai>=3.7,<3.11
opencv-python>=3.7,<3.11
openpyxl>=3.7,<3.11
opt-einsum>=3.7,<3.11
optax>=3.7,<3.11
orjson>=3.7,<3.11
oscrypto>=3.7,<3.11
packaging>=3.7,<3.11
pandas>=3.7,<3.11
pandocfilters>=3.7,<3.11
paramiko>=3.7,<3.11
parso>=3.7,<3.11
partd>=3.7,<3.11
pathspec>=3.7,<3.11
pexpect>=3.7,<3.11
pickleshare>=3.7,<3.11
Pillow>=3.7,<3.11
pip>=3.7,<3.11
pkgconfig>=3.7,<3.11
platformdirs>=3.7,<3.11
plotly>=3.7,<3.11
plotnine>=3.7,<3.11
pooch>=3.7,<3.11
preshed>=3.7,<3.11
prometheus-client>=3.7,<3.11
prompt-toolkit>=3.7,<3.11
protobuf>=3.7,<3.11
psutil>=3.7,<3.11
psycopg2>=3.7,<3.11
ptyprocess>=3.7,<3.11
PuLP>=3.7,<3.11
py>=3.7,<3.11
pyarrow>=3.7,<3.11
pyasn1>=3.7,<3.11
pyasn1-modules>=3.7,<3.11
pybind11>=3.7,<3.11
pybtex>=3.7,<3.11
pycairo>=3.7,<3.11
pycaret>=3.7,<3.11
pycparser>=3.7,<3.11
pydantic>=3.7,<3.11
pydeck>=3.7,<3.11
pydocstyle>=3.7,<3.11
pydot>=3.7,<3.11
pydot-ng>=3.7,<3.11
pydotplus>=3.7,<3.11
PyDrive>=3.7,<3.11
pyfiglet>=3.7,<3.11
Pygments>=3.7,<3.11
pylint>=3.7,<3.11
pyls-spyder>=3.7,<3.11
pymacaroons>=3.7,<3.11
pymc3>=3.7,<3.11
PyMeeus>=3.7,<3.11
pymystem3>=3.7,<3.11
pynndescent>=3.7,<3.11
pyOpenSSL>=3.7,<3.11
pyparsing>=3.7,<3.11
pypdf2>=3.7,<3.11
pyppeteer>=3.7,<3.11
pyrsistent>=3.7,<3.11
PySocks>=3.7,<3.11
pyspike>=3.7,<3.11
pytest>=3.7,<3.11
python>=3.7,<3.11
python-dateutil>=3.7,<3.11
python-docx>=3.7,<3.11
python-dotenv>=3.7,<3.11
python-json-logger>=3.7,<3.11
python-kaleido>=3.7,<3.11
python-louvain>=3.7,<3.11
python-slugify>=3.7,<3.11
pytools>=3.7,<3.11
pyttsx3>=3.7,<3.11
pytz>=3.7,<3.11
pytz-deprecation-shim>=3.7,<3.11
PyWavelets>=3.7,<3.11
pywin32>=3.7,<3.11
pywinpty>=3.7,<3.11
pyxlsb>=3.7,<3.11
pyyaml>=3.7,<3.11
pyzmq>=3.7,<3.11
qtconsole>=3.7,<3.11
QtPy>=3.7,<3.11
qudida>=3.7,<3.11
ray>=3.7,<3.11
recommonmark>=3.7,<3.11
regex>=3.7,<3.11
reportlab>=3.7,<3.11
requests>=3.7,<3.11
requests-file>=3.7,<3.11
requests-oauthlib>=3.7,<3.11
retrying>=3.7,<3.11
rich>=3.7,<3.11
rope>=3.7,<3.11
rsa>=3.7,<3.11
rtree>=3.7,<3.11
ruamel.yaml>=3.7,<3.11
ruamel.yaml.clib>=3.7,<3.11
s3transfer>=3.7,<3.11
safetensors>=3.7,<3.11
scikit-learn>=3.7,<3.11
scipy>=3.7,<3.11
scrapy>=3.7,<3.11
seaborn>=3.7,<3.11
semver>=3.7,<3.11
sentencepiece>=3.7,<3.11
setuptools>=3.7,<3.11
shap>=3.7,<3.11
shortuuid>=3.7,<3.11
six>=3.7,<3.11
smmap>=3.7,<3.11
sniffio>=3.7,<3.11
snowballstemmer>=3.7,<3.11
soupsieve>=3.7,<3.11
spacy>=3.7,<3.11
spacy-legacy>=3.7,<3.11
spacy-loggers>=3.7,<3.11
Sphinx>=3.7,<3.11
sphinx-autodoc-typehints>=3.7,<3.11
sphinxcontrib-applehelp>=3.7,<3.11
sphinxcontrib-devhelp>=3.7,<3.11
sphinxcontrib-htmlhelp>=3.7,<3.11
sphinxcontrib-jsmath>=3.7,<3.11
sphinxcontrib-qthelp>=3.7,<3.11
sphinxcontrib-serializinghtml>=3.7,<3.11
spyder>=3.7,<3.11
sqlparse>=3.7,<3.11
stack-data>=3.7,<3.11
starlette>=3.7,<3.11
statsmodels>=3.7,<3.11
sympy>=3.7,<3.11
tables>=3.7,<3.11
tblib>=3.7,<3.11
tenacity>=3.7,<3.11
tensorboard>=3.7,<3.11
tensorboard-data-server>=3.7,<3.11
tensorboard-plugin-wit>=3.7,<3.11
tensorboardX>=3.7,<3.11
tensorflow>=3.7,<3.11
tensorflow-cpu>=3.7,<3.11
tensorflow-estimator>=3.7,<3.11
tensorflow-io-gcs-filesystem>=3.7,<3.11
termcolor>=3.7,<3.11
terminado>=3.7,<3.11
thinc>=3.7,<3.11
threadpoolctl>=3.7,<3.11
tinycss2>=3.7,<3.11
tokenizers>=3.7,<3.11
toml>=3.7,<3.11
tomli>=3.7,<3.11
toolz>=3.7,<3.11
torch>=3.7,<3.11
torchmetrics>=3.7,<3.11
torchaudio>=3.7,<3.11
torchvision>=3.7,<3.11
tornado>=3.7,<3.11
tqdm>=3.7,<3.11
traitlets>=3.7,<3.11
transformers>=3.7,<3.11
trimesh>=3.7,<3.11
trio>=3.7,<3.11
trio-websocket>=3.7,<3.11
trove-classifiers>=3.7,<3.11
typer>=3.7,<3.11
typing-extensions>=3.7,<3.11
tzlocal>=3.7,<3.11
uncertainties>=3.7,<3.11
uritemplate>=3.7,<3.11
urllib3>=3.7,<3.11
validators>=3.7,<3.11
wandb>=3.7,<3.11
watchfiles>=3.7,<3.11
wcwidth>=3.7,<3.11
webargs>=3.7,<3.11
webencodings>=3.7,<3.11
websocket-client>=3.7,<3.11
websockets>=3.7,<3.11
Werkzeug>=3.7,<3.11
wheel>=3.7,<3.11
widgetsnbextension>=3.7,<3.11
wordcloud>=3.7,<3.11
wrapt>=3.7,<3.11
wsproto>=3.7,<3.11
xarray>=3.7,<3.11
xgboost>=3.7,<3.11
xlrd>=3.7,<3.11
XlsxWriter>=3.7,<3.11
xlwt>=3.7,<3.11
xmltodict>=3.7,<3.11
yarl>=3.7,<3.11
yaspin>=3.7,<3.11
zict>=3.7,<3.11
zipp>=3.7,<3.11
zstandard>=3.7,<3.11
